langflow
requests
python-dotenv
astrapy
streamlit
pytest
pytest-mock
cerbos
mcp
simpleeval
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation
opentelemetry-exporter-otlp